/*This is the demostration of classes part*/
/*classes are accesses by putting "."*/
.index-h2{
    color:red;

}

.division p{
    color:green;

}

.division h2{
    color:blue;
}
/*This the end of classes part*/
